[Desktop Entry]
Name=AhiGram Desktop
Comment=Fork Telegram
TryExec=AhiGram
Exec=AhiGram -- %U
Icon=com.ahigram.desktop
Terminal=false
StartupWMClass=AhiGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=AhiGram -quit
Name=Quit AhiGram
Icon=application-exit
